SAGEMAKER_ROLE=arn:aws:iam::YOUR_ACCOUNT_ID:role/YOUR_SAGEMAKER_ROLE
SAGEMAKER_S3_BUCKET=sagemaker-YOUR_REGION-YOUR_ACCOUNT_ID
SAGEMAKER_VPC_SUBNETS=subnet-xxxxxxxxxxxxxxxxx,subnet-yyyyyyyyyyyyyyyyy
SAGEMAKER_VPC_SG=sg-xxxxxxxxxxxxxxxxx
